<header>
    <a href="/" class="logo">
        <img src="./images/logo.png" alt="Logo">
        <h1>Just Do IT</h1>
    </a>
    <button type="button">Logout</button>
</header>

<main>

    <aside>
        <div class="top">
            <h2>Categories</h2>
            <button>+</button>
        </div>
        <ul>
            {{#each categories}}
                <li class="{{#ifEquals ../activeCategory this}}active{{/ifEquals}}"><a href="/{{#toLowerCase this}}{{/toLowerCase}}">{{this}}</a></li>
            {{/each}}
        </ul>
    </aside>

    <div class="content">
        <article class="todos--unchecked__container">
            <h2>We've got things to do!</h2>
            <form class="add-todo" action="/todos" method="POST">
                <div class="add-todo__inputs">
                    <input required name="todo" type="text" placeholder="What is your task?">
                    <select name="category" class="category">
                        <option value="">Choose a category</option>
                        {{#each (filterAllCategoryOut categories)}}
                            <option {{#ifEquals ../activeCategory this}}selected{{/ifEquals}} value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <button type="submit">+</button>
            </form>

            {{#if (filterTodosByStatus todos isChecked=false)}}
                <ul class="todos--unchecked">
                    {{#each (filterTodosByStatus todos isChecked=false)}}
                        {{> todo this}}
                    {{/each}}
                </ul>
            {{/if}}
        </article>

        {{#if (filterTodosByStatus todos isChecked=true)}}
            <article class="todos-checked__container">
                <h2>Things you've done!</h2>
                <ul class="todos-checked">
                    {{#each (filterTodosByStatus todos isChecked=true)}}
                        {{> todo this}}
                    {{/each}}
                </ul>
            </article>  
        {{/if}}
    </div>

</main>