<header>
    <div class="logo">
        <img src="./images/logo.png" alt="Logo">
        <h1>Just Do IT</h1>
    </div>
    <button type="button">Logout</button>
</header>

<main>

    <aside>
        <h2>Categories</h2>
        <ul>
            {{#each (filterUniqueCategories todos)}}
                <li><button>{{this}}</button></li>
            {{/each}}
        </ul>
    </aside>

    <div class="content">
        <article class="todos--unchecked__container">
            <h2>We've got things to do!</h2>
            <form class="add-todo">
                <input name="todo" type="text" placeholder="What is your task?">
                <button type="submit">+</button>
            </form>

            <ul class="todos--unchecked">
                {{#each (filterUncheckedTodos todos)}}
                    {{> todo this}}
                {{/each}}
            </ul>
        </article>

        <article class="todos-checked__container">
            <h2>Things you've done!</h2>
            <ul class="todos-checked">
                {{#each (filterCheckedTodos todos)}}
                    {{> todo this}}
                {{/each}}
            </ul>
        </article>
    </div>

</main>