<li class="todo-item">
    {{#unless isCompleted}}
        <button class="done">Done!</button>
    {{/unless}}
    <div class="todo">
        <p class="text">{{title}}</p>
        <p class="category">{{category.name}}</p>
    </div>
    <button class="delete">Delete</button>
    {{#unless isCompleted}}
        <button class="edit">Edit</button>
    {{/unless}}
</li>